In [2]:
#FETCH INDEX AND VALUES
import pandas as pd
import numpy as np
i = pd.Series(['html', 'css', 'android'], index=['a', 'b', 2])
print(i)

a       html
b        css
2    android
dtype: object

In [3]:
print(i.index)

Index(['a', 'b', 2], dtype='object')

In [6]:
print(i.values)

['html' 'css' 'android']

In [1]:

import pandas as pd 
import numpy as np
i = pd.Series(['html', 'css', 'android'], index=['a', 'b', 2])
j = pd.Series(['html', 'css', 'android'])
print(i)
print()
print(j)

a       html
b        css
2    android
dtype: object

0       html
1        css
2    android
dtype: object

In [2]:
import pandas as pd
import numpy as np
i = pd.Series(['html', 'css', 'android'], index=['a', 'b', 2])
j = pd.Series(['html', 'css', 'android'])
print(i)
print()
print(j)

a       html
b        css
2    android
dtype: object

0       html
1        css
2    android
dtype: object

In [5]:
print(i.index)
print()
print(j.index)

Index(['a', 'b', 2], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [6]:
#- INDEX
import pandas as pd
import numpy as np
i = pd.Series(['html', 'css', 'android'], index=['a', 'b', 2])
j = pd.Series(['data1', 'data2', 'data3', 'data4'])
print(i)
print()
print(j)

a       html
b        css
2    android
dtype: object

0    data1
1    data2
2    data3
3    data4
dtype: object

In [8]:
print(i.values)
print()
print(j.values)

['html' 'css' 'android']

['data1' 'data2' 'data3' 'data4']

In [9]:
#dtype
import pandas as pd
import numpy as np
i = pd.Series([10,20,30,40,50])
j = pd.Series([10.1, 20.2, 30.3, 40.4, 50.5]) 
print(i)
print()
print(j)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    10.1
1    20.2
2    30.3
3    40.4
4    50.5
dtype: float64

In [10]:
print(i.dtype)

int64

In [11]:
print(j.dtype)

float64

In [13]:
#Shape
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
k = pd.Series(['a', 'b', 'c'])
print(i)
print()
print(j)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    10.1
1    20.2
2    30.3
3    40.4
4    50.5
dtype: float64

In [14]:
print(i.shape)
print(k.shape)

(5,)
(3,)

In [17]:
# DIMENSION

import pandas as pd
import numpy as np
i = pd.Series([10,20,30,40,50])
k = pd.Series(['a', 'b', 'c'])
print(i)
print()
print(k)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object

In [18]:
print(i.ndim,k.ndim)

1 1

In [19]:
import pandas as pd
import numpy as np
i = pd.Series([10,20,30,40,50])
k = pd.Series(['a', 'b', 'c'])
print(i)
print()
print(k)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object

In [20]:
print(i.size)
print()
print(k.size)

5

3

In [21]:
import pandas as pd 
import numpy as np


i = pd.Series([10,20,30,40,50])
j = pd.Series(['a', 'b', 'c'])
k = pd.Series([])
print(i)
print()
print(j)
print()
print(k)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object

Series([], dtype: float64)

<ipython-input-21-c07bde6a793f>:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [22]:
print(i.empty)
print(j.empty)
print(k.empty)

False
False
True

In [23]:
#HASNANS
import pandas as pd
import numpy as np
i = pd.Series([10,20,30,40,50, np.NaN])
j = pd.Series(['a', 'b', 'c'])
k = pd.Series([])
print(i)
print()
print(j)
print()
print(k)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
dtype: float64

0    a
1    b
2    c
dtype: object

Series([], dtype: float64)

<ipython-input-23-5cd0946aea0b>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [24]:
print(i.hasnans)
print(j.hasnans)
print(k.hasnans)

True
False
False

In [25]:
import pandas as pd
print(pd.__version__)

1.1.3

In [26]:
import pandas as pd
i = pd.Series([10,20,30,50,50],
index=['a','b','c','d','e'], dtype=float)
i

a    10.0
b    20.0
c    30.0
d    50.0
e    50.0
dtype: float64

In [27]:
import pandas as pd
i = pd.Series([10,20,30,50,50],
index=['a','b','c','d','e'],
dtype=float,
name="Data values")
i

a    10.0
b    20.0
c    30.0
d    50.0
e    50.0
Name: Data values, dtype: float64

In [28]:
import pandas as pd
i = pd.Series([10,20,30,50,50], index=['a','b','c','d','e'])
i
i[1:4]

b    20
c    30
d    50
dtype: int64

In [29]:
import pandas as pd
i = pd.Series([10,20,30,50,50], index=['a','b','c','d','e'])
i
min(i)
max(i)

50

In [30]:
#ADD OPERATION
import pandas as pd
i = pd.Series([10,20,30])
j = pd.Series([1,2,3, 4])
print(i)
print(j)
i+j

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [1]:
#NOT EQUAL VALUE
import pandas as pd
i = pd.Series([10,20,30])
j = pd.Series([1,2,3, 4])
print(i)
print(j)

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [2]:
i+j

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64